html {
    background-color: black;
}

.zag {
    color: floralwhite;
    text-align: center;
    font-family: monospace;
}

.header {
    color: floralwhite;
}

.pole {
    width: 100%;
    height: 50px;
}

.submitbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.col-4 {
    color: blanchedalmond;
    text-align: center;
    margin-top: 100px;
}

p.footer__social-icons {
    color: blanchedalmond;
    font-size: 32px;
}

p.footer__social-icons a {
    color: blanchedalmond;
    text-decoration: none;
    margin-right: 30px;
}

p.footer__social-icons a:hover {
    color: blueviolet;
}